%section#cases
	.container
		.row.text-center
			%h2
				Casos
			%hr
			%p
				Algunos ejemplos aplicados.

	.gal
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Lucky Day
					%small Enjoy
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Realizar un Tragamonedas digital en un lugar público.
					= precede '<strong>Respuesta:</strong>' do
						%p
							Desarrollamos una Aplicación Web para móviles, la cual controla a nuestro Tragamonedas a través de un código de 3 dígitos y un match en la ubicación del usuario.
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-map-marker
							%small
								Sistema de localización
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Control desde mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-database
							%small
								Control de datos
			%img.img-responsive( src = "img/cases/enjoy-slotmachine.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 El Buen Anfitrión
					%small Jumbo
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
					= precede '<strong>Respuesta:</strong>' do
						%p	
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-rocket
							%small
								Diseño y jugabilidad
						.col-xs-4
							.icon.text-center
								%i.fa.fa-facebook
							%small
								Facebook App
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Responsive
			%img.img-responsive( src = "img/cases/jumbo-futbol.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 Ruta del Café
					%small Nescafé
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Desarrollar una app que recopile métricas de uso y entregue información sobre diferentes tipos de cafés.
					= precede '<strong>Respuesta:</strong>' do
						%p
					.footer
						.col-xs-6
							.icon.text-center
								%i.fa.fa-android
							%small
								App nativa
						.col-xs-6
							.icon.text-center
								%i.fa.fa-area-chart
							%small
								Métricas online
			%img.img-responsive( src = "img/cases/nescafe-rutadelcafe.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Tótem informativo
					%small BCI
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							
					= precede '<strong>Respuesta:</strong>' do
						%p
							
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-map-marker
							%small
								Sistema de localización
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Control desde mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-database
							%small
								Control de datos
			%img.img-responsive( src = "img/cases/bci-totem.png" )

		
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 Nombre del Caso
					%p
						Descripción.
			%img.img-responsive( src = "img/cases/enjoy-slotmachine.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 Nombre del Caso
					%p
						Descripción.
			%img.img-responsive( src = "img/cases/enjoy-slotmachine.png" )