%section#cases
	.container
		.row.text-center
			%h2
				Casos
			%hr
			%p
				Algunos ejemplos aplicados.

	.gal
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Lucky Day
					%small Enjoy
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Realizar un Tragamonedas digital en un lugar público.
					= precede '<strong>Respuesta:</strong>' do
						%p
							Desarrollamos una Aplicación Web para móviles, la cual controla a nuestro Tragamonedas a través de un código de 3 dígitos y un match en la ubicación del usuario.
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-map-marker
							%small
								Sistema de localización
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Control desde mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-database
							%small
								Control de datos
			%img.img-responsive( src = "img/cases/enjoy-slotmachine.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 El Buen Anfitrión
					%small Jumbo
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
					= precede '<strong>Respuesta:</strong>' do
						%p	
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-rocket
							%small
								Diseño y jugabilidad
						.col-xs-4
							.icon.text-center
								%i.fa.fa-facebook
							%small
								Facebook App
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Responsive
			%img.img-responsive( src = "img/cases/jumbo-futbol.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 Ruta del Café
					%small Nescafé
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Desarrollar una app que recopile métricas de uso y entregue información sobre diferentes tipos de cafés.
					= precede '<strong>Respuesta:</strong>' do
						%p
					.footer
						.col-xs-6
							.icon.text-center
								%i.fa.fa-android
							%small
								App nativa
						.col-xs-6
							.icon.text-center
								%i.fa.fa-area-chart
							%small
								Métricas online
			%img.img-responsive( src = "img/cases/nescafe-rutadelcafe.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Tótem informativo
					%small BCI
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							
					= precede '<strong>Respuesta:</strong>' do
						%p
							
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-map-marker
							%small
								Sistema de localización
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Control desde mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-database
							%small
								Control de datos
			%img.img-responsive( src = "img/cases/bci-totem.png" )

		
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Bugbuster
					%small Lab
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Juego Retro con look & feel noventero.
							
					= precede '<strong>Respuesta:</strong>' do
						%p
							Utilizando la paleta de colores de Nintendo y sus respectivas limitaciones técnicas, recreamos un entorno para un juego tipo "space shooter".
						%p
							Con diseño y creación de personajes originales.
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Compatible con mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-rocket
							%small
								Juego original
						.col-xs-4
							.icon.text-center
								%i.fa.fa-share-alt
							%small
								Online rank
								
			%img.img-responsive( src = "img/cases/sabino-bugbuster.png" )
		.case.col-sm-4
			.hover.text-center
				.inner
					%h3 
						Nescafé Challenge
					%small Nescafé
					%hr
					= precede '<strong>Desafío:</strong>' do
						%p
							Desarrollar un juego para terreno (Paseo Ahumada) que detectando el movimiento del usuario, mueva una taza de café en una pantalla digital.
							
					= precede '<strong>Respuesta:</strong>' do
						%p
							A través de una cámara instalada en un stand, detectamos un patrón de color específico instalado en la taza de café, la cual actuó finalmente como control principal del juego.
					.footer
						.col-xs-4
							.icon.text-center
								%i.fa.fa-mobile
							%small
								Compatible con mobile
						.col-xs-4
							.icon.text-center
								%i.fa.fa-rocket
							%small
								Juego original
						.col-xs-4
							.icon.text-center
								%i.fa.fa-share-alt
							%small
								Online rank
			%img.img-responsive( src = "img/cases/nescafe-challenger.png" )